button, form, input {
  margin: 10px;
  font-family: 'Lobster', cursive;
}
.top {
  text-align: center;
  font-size: 75px;
  font-family: 'Lobster', cursive;
  background-color: #2b2d2e73;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
label {
  padding-left: 10px;
}
.col-8 {
  padding-top: 20px;
}
.card-body {
  text-align: center;
  padding: 0px;
  font-family: 'El Messiri', sans-serif;
}

body {
  background: url(../images/cork-board.png);
}

.card {
  display: inline-block;
  margin: 15px 15px 0px 0px;
}
.selectAButton {
  font-family: 'Lobster', cursive;
  margin-top: 10px;
  padding-left: 20px;
}
h1 {
  font-family: 'Lobster', cursive;
  margin-top: 10px;
}
p {
  margin: 3px 0px 3px 0px;
}

.gifContainer {
  text-align: center;
}

.buttonContainer {
  text-align: center;
  padding-left: 0px;
}